<div class="col-lg-8 col-lg-offset-2 text-center">
    <div style="display: flex; justify-content: center; align-items: center; gap: 69px; flex-wrap: wrap; padding-bottom: 40px; margin-top: 100px">
        
        <a href="https://x.com/devengines_" style="color: #333;">
            <i class="fa-brands fa-x-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </a>

       <a href="https://www.instagram.com/devengines/" style="color: #333;">
            <i class="fa-brands fa-instagram fa-3x wow bounceIn" data-wow-delay=".3s"></i>
        </a>

        <a href="https://www.behance.net/devengines_" style="color: #333;">
            <i class="fa-brands fa-behance fa-3x wow bounceIn" data-wow-delay=".3s"></i>
        </a>

        <a href="mailto:{mail.devengines@gmail.com}" style="color: #333;">
            <i class="fa-regular fa-envelope fa-8x wow bounceIn" data-wow-delay=".2s"></i>
        </a>

 
        <a href="https://www.linkedin.com/in/devengines/" style="color: #333;">
            <i class="fa-brands fa-linkedin fa-3x wow bounceIn" data-wow-delay=".3s"></i>
        </a>

    <a href="https://www.youtube.com/@DevEngineStudios" style="color: #333;">
            <i class="fa-brands fa-youtube fa-3x wow bounceIn" data-wow-delay=".3s"></i>
        </a>

    <a href="https://youtu.be/QDia3e12czc?si=JQda9KQn7_U6M15Y" style="color: #333;">
            <i class="fa-brands fa-upwork fa-3x wow bounceIn" data-wow-delay=".3s"></i>
        </a>

    </div>
</div>